body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ff0000 0%, #a24b4b 100%);
    color: white;
    text-align: center;
    padding: 50px;
    margin: 0;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

h2, h3 {
    margin-top: 30px;
}

p {
    font-size: 1.2em;
}


ul {
    list-style: none;
    padding: 0;
}

li {
    background: rgba(253, 102, 102, 0.2);
    margin: 10px auto;
    padding: 10px;
    width: 200px;
    border-radius: 8px;
}


button {
    background: rgb(255, 170, 170);
    color: #000000;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}


#missatge {
    margin-top: 20px;
    font-size: 1.3em;
    font-weight: bold;
}


h1:hover {
    color: #ffd700;
    transition: 0.3s;
}